<table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price | currency }}</td>
      </tr>
    </tbody>
  </table>
  
  <!-- <div>
    {{product.id}}
    {{product.description}}
    {{product.brand}}
    {{product.quantity}}
    {{product.price}}
</div> -->