<h4 class="text-primary p-3">Create a Product</h4>
<div class="container form-container">
    <form (ngSubmit)="onSubmit()">
        
        <div class="mb-3">
            <label for="id" class="form-label">Product ID</label>
            <input 
                type="text"
                class="form-control"
                id="id"
                name="id"
                minlength="8"
                required
                [(ngModel)]="product.id"
                #id="ngModel"
            />
            <div *ngIf="id.invalid && id.touched" class="alert alert-danger mt-2">
                <div *ngIf="id.errors?.['required']">Product ID is required</div>
                <div *ngIf="id.errors?.['minlength']">Product ID must be at least 8 characters long</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input
                type="text"
                class="form-control"
                id="brand"
                name="brand"
                [(ngModel)]="product.brand"
            />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input
                type="text"
                class="form-control"
                id="description"
                name="description"
                [(ngModel)]="product.description"
            />
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input
                type="number"
                class="form-control"
                id="quantity"
                name="quantity"
                [(ngModel)]="product.quantity"
            />
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                [(ngModel)]="product.price"
            />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="id.invalid">Submit</button>
    </form>
</div>
